.feed {
  flex: 0.4;
  min-width: fit-content;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  height: 100vh;
  border: 0.25px solid var(--chatter-background);
}

/* Hide scrollbar for Feed */
.feed::-webkit-scrollbar {
  display: none;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  border: 1px solid var(--chatter-background);
  padding: 10px 10px;
  background-color: var(--dark-color);
  color: var(--text-color);
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
  color: var(--text-color);
}