:root {
  --text-color: #d9d9d9;
  --dark-color: #000;
  --btn-color: #4aa0eb;
  --chatter-color: #50b7f5;
  --chatter-background: #8f9aa1;
}

.App {
  background-color: var(--dark-color);
  color: var(--text-color);
  /* text-align: center; */
}

